---
layout: default
title: Home
---

<div class="jumbotron">
  <div class="container">
    <h2><strong><img height="75" src="http://www.gravatar.com/avatar/db86ef42cc64f51e6e53171e24faa9e2.png"> Welcome
      to WattDepot</strong></h2>

    <p><strong>Open source software system that:</strong>
        <ul>
            <li>Collects electricity and/or other associated environmental data (temperature, humidity, lighting)
             from meters;</li>
            <li>Stores this data in a back-end repository;</li>
            <li>Provides useful querying and retrieval functions for visualization or integration with other
              applications.</li>

        </ul>
    </p>

  </div>
</div>

<div class="white-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3><strong>Goals.</strong></h3>

        <ul>
            <li>WattDepot must be agnostic about the platform, programming language, and meters used to monitor the
             environment.</li>
            <li>WattDepot will run on all major operating systems.
                <ul>
                    <li>We provide an HTTP API which can be used by any modern programming language or environment to
                     communicate with WattDepot servers.</li>
                    <li>To simply development, we provide client libraries for popular languages including Java,
                      Javascript, and Python.</li>
                </ul>
            </li>
            <li>WattDepot can support any meter that implements an HTTP-based protocol for data transmission.</li>
            <li>WattDepot must support both cloud and local installation.</li>
        </ul>
      </div>
      <div class="col-sm-4">
        <div class="row">
          {% include community-image.html photo="transmission-lines.jpg" %}
          {% include community-image.html photo="solar-energy.jpg" %}
        </div>
        <div class="row">
          {% include community-image.html photo="power-quality-analyzer.jpg" %}
          {% include community-image.html photo="military-base.jpg" %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img style="margin-top: 20px; margin-bottom: 20px" src="images/opq-hardware2.jpg" class="img-circle img-responsive">
      </div>
      <div class="col-sm-8">
        <h3><strong>OPQBox: Low cost, open source hardware</strong></h3>

        <p>Our first generation OPQBox costs less than US$75, and the schematics are published under an open source
          hardware license if you want to build it yourself.
        </p>

        <p>We want to create and support an ecosystem of hardware developers that accelerate the development of new
          designs to satisfy different needs.
          </p>
        <p>Our first generation design is based upon a Raspberry PI.  Our second generation OPQBox will decrease the
          cost and size, and increase the functionality. Come help us invent the future of power quality monitoring!</p>
      </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <h3><strong>OPQHub: Cloud-based, open source software service</strong></h3>

        <p>
         Each OPQBox sends power quality events and data to OPQHub, an open source cloud-based service.</p>
        <p>For consumers, this means that you can easily determine if a power quality problem is local to your own
          house or is more widespread in your neighborhood or city.</p>
        <p>For organizations, this means you can deploy OPQBoxes throughout your facility, and install an OPQHub if
          you want to keep your power quality information private.</p>
        <p>An OPQHub installed can be installed and run locally, or deployed to a hosting environment such as <a
            href="http://www.cloudbees.com/">CloudBees</a> or <a href="https://www.heroku.com/">Heroku</a></p>
        <p>We also maintain a <a href="http://emilia.ics.hawaii.edu:8194/">public OPQHub</a> for testing and
          evaluation.</p>
      </div>
      <div class="col-sm-4">
        <img style="margin-top: 20px; margin-bottom: 20px" src="images/opq-events-square.png" class="img-circle img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="gray-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img style="margin-top: 20px; margin-bottom: 20px" src="images/opq-map-square.png" class="img-circle img-responsive">
      </div>
      <div class="col-sm-8">
        <h3><strong>OPQ Data: Open source analytics for the smart grid</strong></h3>

        <p>
         Uploading the raw data is only the start. The real power of the OPQ ecosystem is the kinds of analytics it
          makes possible.
        </p>
        <p>First, each OPQBox is associated with an owner-supplied location.  To support privacy, owners can
          "coarsen" their OPQBox's location information up to 1 square mile. Coarsened location data still enables
          the service to provide useful community statistics without revealing the precise individual location of
          individual OPQBoxes.</p>
        <p>Second, the community nature of OPQ data makes it trivial to determine if a power quality event is local
          to you or more widespread on the grid.</p>
        <p>Third, correlation of power quality data with other forms of information can provide valuable insight into
          the impact of renewable energy.  For example, are power quality events more common in areas with high
          concentration of rooftop solar?  Do power quality events correlate with weather data---for example, a
          rapidly moving cloud cover?</p>
        <p>The OPQHub architecture is designed to support "plugin" analytics. Have an idea for a new analytic? Let us
          know!</p>
      </div>
    </div>
  </div>
</div>



<div class="white-background">
  <div class="container">
    <h3><strong>Ready to learn more?</strong></h3>
    <div class="row">
      <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align: center; padding-top: 10px">
                <a href="/quick_start/quickstart.html" class="btn btn-primary btn-lg" role="button">Quick Start
                    <span class="glyphicon glyphicon-chevron-right"></span> </a>
            </p>
              <div class="caption">Install software and get started with WattDepot</div>
          </div>
      </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <p style="text-align: center; padding-top: 10px">
                    <a href="/userguide/userguide.html" class="btn btn-primary btn-lg" role="button">User Guide
                        <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </p>
                <div class="caption">Details on administering WattDepot.</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <p style="text-align: center; padding-top: 10px">
                    <a href="/developerguide/developerguide.html" class="btn btn-primary btn-lg"
                       role="button">Developer Guide
                        <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </p>
                <div class="caption">Don't like how WattDepot works? Here's how its designed and how you can modify
                  it</div>
            </div>
        </div>
    </div>
  </div>
</div>
