---
layout: default
title: Home
---

<div class="jumbotron">
  <div class="container">
    <h2><strong><img height="75" src="http://www.gravatar.com/avatar/db86ef42cc64f51e6e53171e24faa9e2.png"> Welcome
      to WattDepot</strong></h2>
    <p><strong>Enterprise-level collection, storage, retrieval, and analysis of energy data</strong></p>
  </div>
</div>

<div class="white-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3><strong>Open source energy analysis for the enterprise</strong></h3>

        (Add text about how WattDepot provides energy management above the level of individuals and below the level of the grid.)
      </div>
      <div class="col-sm-4">
        <img width="200px" style="margin-top: 20px; margin-bottom: 20px" src="images/enterprise.jpg" class="img-circle img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="gray-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="row">
            {% include community-image.html photo="egauge.png" %}
            {% include community-image.html photo="shark200.jpg" %}
          </div>
          <div class="row">
            {% include community-image.html photo="windows.jpg" %}
            {% include community-image.html photo="java.png" %}
          </div>
        </div>
      <div class="col-sm-8">
        <h3><strong>Device and technology agnostic</strong></h3>

        <p>(Add text about how we are language and technology agnostic.)</p>
      </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <h3><strong>Tailored time scales</strong></h3>

        <p>
         (Write text about how we can collect data at a variety of time intervals and store them at other intervals.</p>
      </div>
      <div class="col-sm-4">
        <img style="margin-top: 20px; margin-bottom: 20px" src="images/timescale.jpg" class="img-circle img-responsive">
      </div>
    </div>
  </div>
</div>

<div class="gray-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img style="margin-top: 20px; margin-bottom: 20px" src="images/insolation.jpg" class="img-circle img-responsive">
      </div>
      <div class="col-sm-8">
        <h3><strong>Gather related environmental data</strong></h3>

        <p>
         (Add text about how we can store other kinds of data as well as energy data.)</p>
      </div>
    </div>
  </div>
</div>



<div class="white-background">
  <div class="container">
    <h3><strong>Ready to learn more?</strong></h3>
    <div class="row">
      <div class="col-sm-3">
          <div class="thumbnail">
            <p style="text-align: center; padding-top: 10px">
                <a href="/quick_start/quickstart.html" class="btn btn-primary btn-lg" role="button">Quick Start
                    <span class="glyphicon glyphicon-chevron-right"></span> </a>
            </p>
              <div class="caption">Install software and get started with WattDepot</div>
          </div>
      </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <p style="text-align: center; padding-top: 10px">
                    <a href="/userguide/userguide.html" class="btn btn-primary btn-lg" role="button">User Guide
                        <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </p>
                <div class="caption">Details on administering WattDepot.</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="thumbnail">
                <p style="text-align: center; padding-top: 10px">
                    <a href="/developerguide/developerguide.html" class="btn btn-primary btn-lg"
                       role="button">Developer Guide
                        <span class="glyphicon glyphicon-chevron-right"></span> </a>
                </p>
                <div class="caption">Don't like how WattDepot works? Here's how its designed and how you can modify
                  it</div>
            </div>
        </div>
    </div>
  </div>
</div>
